@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* RADIUS */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  /* MAPPING COULEURS */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* SIGNATURE CLIP */
  --text-clip-1: #615fff;
  --text-clip-2: #f6339a;
  --color-clip-1: var(--text-clip-1);
  --color-clip-2: var(--text-clip-2);
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background: oklch(0.981 0.005 292.453);
    --foreground: oklch(0.127 0.04 287.547);
    --muted: oklch(0.932 0.014 261.504);
    --muted-foreground: oklch(0.368 0.005 261.507);
    --popover: oklch(0.971 0.007 292.405);
    --popover-foreground: oklch(0.117 0.035 288.632);
    --card: oklch(0.971 0.007 292.405);
    --card-foreground: oklch(0.117 0.035 288.632);
    --border: oklch(0.67 0.016 285.899);
    --input: oklch(0.905 0.003 292.475);
    --primary: oklch(0.517 0.26 278.219);
    --primary-foreground: oklch(1 0 180);
    --secondary: oklch(0.62 0.191 260.532);
    --secondary-foreground: oklch(1 0 180);
    --accent: oklch(0.612 0.263 309.296);
    --accent-foreground: oklch(1 0 180);
    --destructive: oklch(0.416 0.155 31.019);
    --destructive-foreground: oklch(0.893 0.052 26.936);
    --ring: oklch(0.517 0.26 278.219);
  }

  .dark {
    --background: oklch(0.125 0.025 289.994);
    --foreground: oklch(0.99 0.002 292.5);
    --muted: oklch(0.183 0.021 261.15);
    --muted-foreground: oklch(0.803 0.004 261.513);
    --popover: oklch(0.135 0.029 289.073);
    --popover-foreground: oklch(1 0 180);
    --card: oklch(0.135 0.029 289.073);
    --card-foreground: oklch(1 0 180);
    --border: oklch(0.265 0.006 292.14);
    --input: oklch(0.265 0.006 292.14);
    --destructive: oklch(0.625 0.232 30.967);
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility underline-clip {
  position: relative;
  background: linear-gradient(90deg, var(--text-clip-1) 0%, var(--text-clip-2) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    border-radius: 99px;
    background: linear-gradient(90deg, var(--text-clip-1) 0%, var(--text-clip-2) 100%);
  }
}